.DS_Store
node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts/*
!artifacts/contracts
artifacts/contracts/FireFlyWorkshopBadge.sol/*
!artifacts/contracts/FireFlyWorkshopBadge.sol/FireFlyWorkshopBadge.json